:root{
    --dark-color:#293462;
    --light-color:#f7be16;
}
body{
    background-color: var(--dark-color);
}
.main-container{
    position: relative;
    height: 800px;
    width: 800px;
    border: 2px solid var(--light-color);
    margin: 0 auto;
    font-family: 'Satisfy', cursive;
    color: var(--light-color);
    font-size: 2rem;
    
}
h1{
    position: absolute;
    display: inline-block;
    margin: 0;
    bottom: 5%;
    left: 10%;
}
.cloud{
    position: absolute;
}
.cloud1{
    position: absolute;
    bottom: 70%;
    left: 14%;
}
.cloud2{
    position: absolute;
    bottom: 90%;
    left: 49%;
}
.cloud3{
    position: absolute;
    bottom: 70%;
    left: 75%;
}
.mountain{
    position: absolute;
    bottom: 25%;
    left: 10%;
}