:root{
    --dark-color:#293462;
    --light-color:#f7be16;
}
body{
    background-color: var(--dark-color);
}
.main-container{
    height: 800px;
    width: 800px;
    border: 2px solid var(--light-color);
    margin: 0 auto;
}